*{
    margin:0;
    padding:0;
}

body{ 
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: auto;
}

.logoImg{
    width: 200px;
}

.cartIcon{
    width: 36px;
}

.btnCart:focus{
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

.listCartStyle{
    list-style: none;
}

.productSize{
    width: 180px;
}

.iconCartSize{
    width: 80px;
}

.iconTrashSize{
    width: 16px;
    display: flex;
}

.inputNumberSize{
    width: 40px;
}

.totalStyle{
    font-weight: bold;
}